.NavLink {
    background-color: rgb(240, 235, 230);
    width: 100%;
    /* height: 60px; */
    display: flex;
    justify-content: space-around;
    /* text-align: center; */
    /* margin-top: 10px; */
    /* position: fixed; */
    z-index: 10;
    position: sticky;
    top: 63px;

    nav {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;

        .Lien {
            display: flex;
            justify-content: space-around;
            text-align: center;
            align-items: center;
            align-content: center;
            width: 50%;

            .Logo {
                width: 60px;
                /* position: relative; */
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                -ms-border-radius: 30px;
                -o-border-radius: 30px;
                border-radius: 30px;
                align-content: center;

                a {
                    color: rgb(68, 115, 187);
                    text-decoration: none;
                    font-family: cursive;
                    font-size: 40px;

                    img {
                        width: 60px;
                        height: 60px;
                        -webkit-border-radius: 30px;
                        -moz-border-radius: 30px;
                        -ms-border-radius: 30px;
                        -o-border-radius: 30px;
                        border-radius: 30px;
                        object-fit: cover;
                    }
                }
            }

            ul {
                display: flex;
                justify-content: space-around;
                width: 100%;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: black;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        font-size: 20px;
                    }
                }
            }
        }

        .Search {
            width: 30%;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            /* position: relative; */

            input {
                width: 440px;
                /* border: 1px solid black; */
                outline: none;
                padding: 3px;
                text-align: center;
                /* background-color: rgb(240, 235, 230); */
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
                border-radius: 20px;

                /* ::after{
                    content: 'la';
                    color: #282c34;
                    width: 10px;
                    height: 10px;
                    display: block;
                } */
            }

            .ser {
                display: inline;
                margin-right: 10px;
                font-size: 25px;
                cursor: pointer;
                /* background-color: aqua; */
            }

            .ser:hover {
                color: rgb(8, 184, 184);
            }

            .log-con {
                cursor: pointer;
                -webkit-transition: 0.5s;
                -moz-transition: 0.5s;
                -ms-transition: 0.5s;
                -o-transition: 0.5s;
                transition: 0.5s;
                
                a{
                    text-decoration: none;
                    color: #282c34;
                    transition: 0.3s;
                }
                a:hover{
                    color: rgb(8, 184, 184);
                }
            }

            .log-con:hover {
                color: aquamarine;
            }

            .pan {
                margin-left: 20px;
                cursor: pointer;
                -webkit-transition: 0.5s;
                -moz-transition: 0.5s;
                -ms-transition: 0.5s;
                -o-transition: 0.5s;
                transition: 0.3s;
            }

            .pan:hover {
                color: aquamarine;
            }
        }
    }
}

@media (max-width: 800px) {
    .NavLink {
        
        flex-direction: column;
        align-content: center;
        text-align: center;
        align-items: center;
        
    
        nav {
            /* width: 50%; */
            flex-direction: column;
    
            .Lien {
                flex-direction: column;
                justify-content: center;
                width: 100%;
    
                .Logo {
                    width: 100%;
                    text-align: center;
                    align-content: center;
    
                }
    
                ul {
                    flex-direction: column;
                    width: 50%;
    
                }
            }
    
            .Search {
                /* flex-direction: column; */
                width: 100%;
                input {
                    width: 200px;
    
                }
            }
        }
    }
    
}

/* main content */
main {
    .FirstDiv {
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        width: 100%;
        /* border: 1px solid black; */
        margin-top: 40px;

        .F1 {
            background: url("https://img.freepik.com/photos-gratuite/homme-africain_1303-4398.jpg");
            object-fit: cover;
            background-size: cover;
            resize: both;
            background-repeat: no-repeat;
            background-position: center;
            width: 48%;
            height: 912px;
            /* border: 1px solid black; */
            align-content: center;
            color: white;
            /* size: 100vh; */

            button {
                background-color: rgb(59, 148, 175);
                width: 200px;
                height: 40px;
                border: none;
                color: white;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                -ms-border-radius: 30px;
                -o-border-radius: 30px;
                border-radius: 30px;
                -webkit-filter: drop-shadow(2px 2px 5px rgb(30, 49, 49));
                filter: drop-shadow(2px 2px 5px rgb(30, 49, 49));
                transition: 0.5s;
                -webkit-transition: 0.5s;
                -moz-transition: 0.5s;
                -ms-transition: 0.5s;
                -o-transition: 0.5s;
            }

            button:hover {
                background-color: rgb(88, 126, 138);
            }
        }

        .F2 {
            background: url("https://i.pinimg.com/736x/06/ce/42/06ce42d0ad68057de40af79a5df2a75b.jpg");
            object-fit: cover;
            background-size: cover;
            resize: both;
            background-repeat: no-repeat;
            background-position: center;
            width: 48%;
            height: 912px;
            /* border: 1px solid black; */
            align-content: center;
            color: white;
            /* size: 100vh; */

            button {
                background-color: rgb(59, 148, 175);
                width: 200px;
                height: 40px;
                border: none;
                color: white;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                -ms-border-radius: 30px;
                -o-border-radius: 30px;
                border-radius: 30px;
                -webkit-filter: drop-shadow(2px 2px 5px rgb(30, 49, 49));
                filter: drop-shadow(2px 2px 5px rgb(30, 49, 49));
                -webkit-transition: 0.5s;
                -moz-transition: 0.5s;
                -ms-transition: 0.5s;
                -o-transition: 0.5s;
                transition: 0.5s;
            }

            button:hover {
                background-color: rgb(88, 126, 138);
            }
        }
    }

    /* carte du jour */
    .GiftCard {
        background-color: rgb(29, 100, 73);
        width: 100%;
        height: 200px;
        margin-top: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        color: white;
        position: relative;

        div {
            background-color: aliceblue;
            width: 180px;
            height: 40px;
            align-content: center;
            text-align: center;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            border-radius: 30px;
            outline: invert black;
            cursor: pointer;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;


            a {
                text-decoration: none;
                color: black;
                font-family: 'Times New Roman', Times, serif;
                font-size: 20px;
            }
        }

        div:hover {
            background-color: rgb(39, 114, 180);
        }

    }
    .TendanceCard{
        width: 100%;

        .Tcards{
            width: 100%;
        }
    }
    
    @media (max-width: 800px) {
        .TendanceCard{
            display: flex;
            flex-direction: column;

            .Tcards{
                flex-direction: column;
                justify-content: space-around;
            }
        }
    }
}