

*{
    margin: 0;
    padding: 0;
}
.trending {
    /* background-color: aqua; */
    margin-top: 20px;

    .container {
        /* background-color: rgb(20, 113, 194); */

        .box-left {
            /* background-color: rgb(63, 44, 18); */

            /* overflow: scroll; */
            /* box-sizing: border-box; */

            .box {
                /* background-color: aqua; */

                .navi {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: rgb(240, 235, 230);
                    /* position: sticky;
                    top: 1px; */

                    .navi-trending {
                        display: flex;
                        justify-content: space-between;
                        width: 50%;
                        /* margin-right: 10px; */

                        p{
                            cursor: pointer;
                            text-decoration: underline;
                            -webkit-transition: 0.5s;
                            -moz-transition: 0.5s;
                            -ms-transition: 0.5s;
                            -o-transition: 0.5s;
                            transition: 0.5s;
                        }
                        p:hover{
                            color: rgb(160, 161, 93);
                        }
                    }
                }

                .cat {
                    /* width: 95%;
                    height: 100%; */
                    /* background-color: rgb(17, 27, 27); */
                    /* margin-left: 20px; */
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    .content {
                        height: 50%;
                        width: 50%;
                        padding: 20px;
                        /* margin: 10px; */
                        display: flex;
                        justify-content: center;
                        /* border: 1px solid black; */
                        /* flex-wrap: wrap; */
                        /* align-items: center; */
                        align-content: center;
                        text-align: center;
                        margin-top: 20px;
                        overflow: scroll;
                        box-sizing: border-box;

                        .im {
                            width: 300px;
                            height: 300px;
                            align-content: center;
                            text-align: center;
                            /* border: 1px solid black; */

                            img {
                                width: 300px;
                                height: 300px;
                                object-fit: cover;
                                cursor: pointer;
                                -webkit-border-radius: 10px;
                                -moz-border-radius: 10px;
                                -ms-border-radius: 10px;
                                -o-border-radius: 10px;
                                border-radius: 10px;
}
                        }

                        .text {

                            button {
                                width: 120px;
                                padding: 5px;
                                background-color: rgb(59, 148, 175);
                                -webkit-border-radius: 10px;
                                -moz-border-radius: 10px;
                                -ms-border-radius: 10px;
                                -o-border-radius: 10px;
                                border-radius: 10px;
                                border: none;
                                outline: none;
                                cursor: pointer;
                                -webkit-transition: 0.5s;
                                -moz-transition: 0.5s;
                                -ms-transition: 0.5s;
                                -o-transition: 0.5s;
                                transition: 0.5s;
                            }
                            button:hover{
                                background-color: rgb(88, 126, 138);
                            }
                        }

                    }
                }
            }
        }
    }
    
}